$colorPrincipal: #FFF;
$colorSecondary: rgba(255, 255, 255, 0.7);
$colorLetter: #000;
$colorButton: rgb(22, 22, 22, 0.7);
$colorInput: rgb(128, 128, 128, 0.8);
$colorSeparator: rgba(255, 255, 255, 0.2);
$colorSection: rgba(0, 0, 0, 0.4);
$colorHeader: rgba(0, 0, 0, 0.8);
$colorSite: #0984e3;

$backSubsFirst: #13274f;
$backSubsSecond: #451d61;
$backSubsThird: #3a122b;